.login-container {
	// padding: 20px 50px;
	width: 100%;
	.login-form {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		@media (max-width: 461px) {
			width: 86%;
		}
		h1 {
			// text-align: center;
			font-style: normal;
			font-weight: 600;
			font-size: 28px;
			line-height: 29px;
			color: #5e5873;
			@media (max-width: 368px) {
				font-size: 23px;
			}
		}
		p {
			// text-align: center;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 28px;
			color: #6e6b7b;
			@media (max-width: 368px) {
				font-size: 17px;
			}
		}
	}
	.form-flex {
		margin-top: 20px;
		.input-field {
			display: flex;
			flex-direction: column;
			gap: 8px;
			width: 100%;
			input {
				width: 100%;
				padding: 10px;
				background: #ffffff;
				border-radius: 5px;
				border: 2px solid #ccc;
				outline: none;
			}
			.label-flex {
				a {
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 18px;
					text-align: right;
					color: #7367f0;
				}
			}
			label {
				font-size: 14px;
				line-height: 15px;
				color: #6e6b7b;
			}
		}
		.remember {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			width: 100%;
			label {
				font-size: 14px;
				line-height: 15px;
				color: #6e6b7b;
			}
		}
	}
	.platform {
		small {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			color: #6e6b7b;
			@media (max-width: 336px) {
				font-size: 12px;
			}
		}
		a {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			color: #7367f0;
			@media (max-width: 336px) {
				font-size: 12px;
			}
		}
	}
}
