.copywrite {
	.copy-flex {
		h6 {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			color: #6e6b7b;
		}
		h5 {
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 21px;
			color: #7367f0;
		}
	}
}
