@mixin center {
	margin-left: auto;
	margin-right: auto;
}

.create-flex {
	min-height: 100vh;
	.create-left {
		width: 30%;
		position: relative;
		align-self: stretch !important;
		// height: 100%;
		.logo {
			position: absolute;
			left: 100px;
			top: 50px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		@media (max-width: 980px) {
			display: none !important;
		}
	}
	.create-right {
		width: 70%;
		@media (max-width: 980px) {
			@include center();
			width: 80%;
			@media (max-width: 850px) {
				width: 90%;
				@media (max-width: 720px) {
					width: 95%;
				}
			}
		}
		.right-container {
			width: 60%;
			@include center();
			margin-top: 10%;
			.right-top-flex {
				padding-bottom: 40px;
				border-bottom: 2px solid #eee;
				.sub-top-flex {
					cursor: pointer;
					.highlight {
						padding: 10px;
						border-radius: 10px;
						background-color: #eee;
					}
					h5 {
						color: #7367f0;
					}
				}
			}
			@media (max-width: 1400px) {
				width: 70%;
				@media (max-width: 1230px) {
					width: 80%;
					@media (max-width: 1120px) {
						width: 90%;
					}
				}
			}
		}
	}
}

// "#7367f0"
